.dashboard{
    background-color: #66788fa6;

}
.dashboard-container {
    margin: 0;
    background-size: cover;
    color: #fff;
    display: flex;
    padding: 20px;
}

.left-dashboard {
   color: blanchedalmond;
    flex: 3 1;
    padding: 30px;
    border: 3px solid #FA3;
    border-radius: 19px;
    margin-right: 20px;
width: 70%;
}

.heading-container {
    margin: 0 0 25px 25px;
}

.table-container {
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

.rounded-table-corner {
    border-radius: 2%;
}

.table-container ul li {
    margin-bottom: 1%;
}

.right-dashboard {
    
    color: inherit;
    flex: -1 1;
    padding: 1%;
    border: solid 6px #fff;
    border-radius: 30px;
    width: 30%;
}

#ch{
    margin-top: 30px;
   color: #fff;
    
}